body{
	text-align:center;
	background-color:aliceblue;
	font-size:14pt;
	/* font-family:monospace; */
}

h1{
	font-size:150%;
}

#head{
	background-color:lavenderblush;
	padding:10px;
	margin:-10px;
}

input{
	font-size:70%;
}

img{
	/* transform:scale(1.3,1.3); */
	width:350px;
	height:auto;
	-ms-interpolation-mode: bicubic;
}